/* You can add global styles to this file, and also import other style files */


body{
    padding: 0px;
    margin: 0px;

    .button{
        width: 340px;
        text-align: center;
        padding: 0px;
        background-color: #0e81ec;
        color: #fff;
        border: 0px;
        outline: none;
        margin-top: 40 px;
        text-transform: uppercase;
        cursor: pointer;
    }
}